/***************************************************************************/
/****** main variables *********/

:root {
  --text-width: 500px;
  --header-height: 40px;
  --title-height: 40px;
  --color-logo: #76323F;
  --color-logo-text: #CDA34F;
  --color-background: #7A9D96;
  --color-text-background: #E9E7DA;
  --color-text: #000000;
  --title-font: 'Nixie One', serif;
  --body-font: 'Slabo', serif;
}

/***************************************************************************/
/****** top-level styles for application *********/

html, body {
  font-family: var(--body-font);
  color: #000000;
  width: 100%;
  height: 100%;
  background-color: var(--color-text-background);
}

.hidden-sml {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

/***************************************************************************/
/****** MultiContainer (contains all multimedia in RHS) *********/

#multi-container {
  background-color: var(--color-background);
  position: fixed;
  top: var(--header-height);
  left: var(--text-width);
  width: calc(100vw - var(--text-width));
  height: calc(100vh - 50px);
}

#multi-container > button {
  background-color: #f1f1f1;
  color: black;
  position: fixed;
  border-radius: 4px;
  background-color: #3b3b3b;
  font-size: 1em;
  cursor: pointer;
  opacity: 1;
  height: 30px;
  color: #cccccc;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  transition: all 0.1s ease 0s;
}

#multi-btn-back {
  left: 0px;
  top: 100px;
  visibility: hidden;
  z-index: 200000;
}

#multi-btn-back > button:hover {
  background-color: #4e4e4e;
}

.overlay-btn-grp {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 60px;
  width: 400px;
  z-index: 200000;
}

.overlay-btn-grp button {
  background-color: #3b3b3b;
  font-family: Special Elite;
  font-size: 1.05em;
  cursor: pointer;
  opacity: 1;
  height: 30px;
  color: #cccccc;
  border: none;
  padding: 15px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #cccccc;
  margin: 5px;
  transition: all 0.1s ease 0s;
  line-height: 0.3em;
}

.overlay-btn-grp button:hover {
  background-color: #4e4e4e;
}

.overlay-btn-grp button:active {
  background-color: #4e4e4e;
  transform: scale(0.96);
}

.overlay-btn-grp > .active {
  color: #CDA34F;
  border-color: #CDA34F;
  border-width: 2px;
}

.overlay-btn-grp > .btn-text {
  width: auto;
  margin-left: 25px;
}

/***************************************************************************/
/****** Footer *********/

#footer {
  background-color: var(--color-logo);
  font-family: var(--title-font);
  color: var(--color-logo-text);
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer > #authors {
  font-size: 0.8em;
  padding-left: 25px;
}

#footer > #notice {
  padding-right: 0px;
  font-size: 0.8em;
  padding-right: 25px;
}

/***************************************************************************/
/****** Interactivity => 850px *********/

@media only screen and (max-width: 970px) {
  :root {
    --header-height: 90px;
  }

  #multi-container {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }

  #img-fig {
    position:relative;
    top: 180px;
    left: 50%;
    font-size: 0.8em;
    top: 15px;
    max-width: 60%;
    max-height: 90%;
    background-color: var(--color-text-background);
    position: absolute;
    transform: translate(-50%, 0);
    border-radius: 10px;
    padding: 25px;
  }

  #textbox {
    position: relative;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, 0);
    padding-top: 100px;
  }

  #header > span {
    height: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .btn-group {
    float: left;
    width: var(--text-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 50%;
    top: var(--title-height);
    transform: translate(-50%, 0);
  }
  #img-fig > .svg-close {
    visibility: inherit;
  }
  #map-container > .svg-close {
    visibility: inherit;
    visibility: hidden;
  }
  .hidden-sml {
    visibility: hidden;
    display: none;
  }

  #text-btn-back {
    left: 0px;
    top: 15px;
  }

  #text-btn-map {
    visibility: visible;
  }

  #text-btn-topic {
    visibility: visible;
  }

  .overlay-btn-grp {
    visibility: hidden;
  }

  #textbox > div > h1 {
    padding-top: 55px;
    padding-bottom: 18px;
  }

  #multi-btn-back {
    visibility: visible;
  }
}

/***************************************************************************/
/****** Interactivity => 550px *********/

@media only screen and (max-width: 550px) {
  :root {
    --header-height: 100px;
    --title-height: 26px;
  }
  #header > span {
    width: 300px;
    line-height: var(--title-height);
  }
  .btn-group {
    position: relative;
    left: 50%;
    top: calc(var(--title-height) * 2);
    transform: translate(-50%, 0);
  }
  .btn-group > button {
    font-size: 0.8em;
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 15px;
  }
  #textbox {
    width: 100%;
    font-size: 0.7em;
    padding: 5px;
  }
  #footer > #notice {
    visibility: hidden;
    display: none;
    width: 0;
  }
  #img-fig > .svg-close {
    right: 30px;
    transform: scale(0.8);
  }
  #text-btn-map {
    visibility: hidden;
  }
  #text-btn-topic {
    visibility: hidden;
  }

  .toc-button {
    cursor: pointer;
    font-family: Special Elite;
    line-height: 1.05em;
    font-size: 1.2em;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-logo);
    padding: 12px;
    margin-bottom: 16px;
    width: 70vw;
    margin-left: 15vw;
    text-align: center;
    background-color: var(--color-background);
    border-color: #3b3b3b;
    color: #3b3b3b;
    opacity: 0.9;
  }

  #multi-container {
    visibility: hidden;
  }
}
